<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Skahal.Infrastructure.Framework.Domain" version="1.0.0" targetFramework="net45" />
  <package id="Skahal.Infrastructure.Framework.Repositories" version="0.0.8" targetFramework="net45" />
  <package id="Splat" version="1.6.2" targetFramework="net45" />
</packages>